[submodule "somesup-cloud"]
	path = somesup-cloud
	url = https://github.com/somesup/somesup-cloud.git
[submodule "somesup-next"]
	path = somesup-next
	url = https://github.com/somesup/somesup-next.git
[submodule "somesup-rn"]
	path = somesup-rn
	url = https://github.com/somesup/somesup-rn.git
